.root {
  min-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 24px 32px;
  background-color: var(--bookstore-color-layout-bg);
}

.innerRoot {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 48px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  padding: 24px 0;
}

@media (min-width: 480px) {
  .root {
    padding: 24px 64px;
  }
}

@media (min-width: 1024px) {
  .root {
    padding: 24px 124px;
  }
}
