.form {
  position: relative;
  height: 100%;
}

.formItem {
  margin-bottom: 16px;
}

.formLabel {
  display: block;
  margin-bottom: 4px;
}

.formFooter {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 8px;
}
