:root {
  --bookstore-color-primary-lighten3: #F3D295;
  --bookstore-color-primary-lighten2: #EFC16C;
  --bookstore-color-primary-lighten1: #EAB043;
  --bookstore-color-primary-base: #E69E19;
  --bookstore-color-primary-darken1: #BC8215;
  --bookstore-color-primary-darken2: #936510;
  --bookstore-color-primary-darken3: #6A490C;

  --bookstore-color-neutral-lighten3: #E6E6E6;
  --bookstore-color-neutral-lighten2: #C4C4C4;
  --bookstore-color-neutral-lighten1: #ADADAD;
  --bookstore-color-neutral-base: #808080;
  --bookstore-color-neutral-darken1: #696969;
  --bookstore-color-neutral-darken2: #525252;
  --bookstore-color-neutral-darken3: #3B3B3B;

  --bookstore-color-white: #FFFFFF;
  --bookstore-color-black: #000000;
  --bookstore-color-layout-bg: #F8F4F1;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--bookstore-color-white);
  background-color: var(--bookstore-color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--bookstore-color-black);
    background-color: var(--bookstore-color-white);
  }
}
